header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(255,162, 100, 0.5);
  /* background-color: rgba(255, 127, 39, 0.6); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  width: 90%;
  height: 50px;
}

img {
  height: 60px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: yellow ; */
}

a {
  padding: 10px 14px;
  /* background-color: aquamarine; */
  font-size: 1.1em;
  font-weight: bold;  
  text-transform: uppercase;
  letter-spacing: 2px;
}

li:last-child a {
  padding-top: 11px;
  padding-bottom: 4px;
}

a:hover {  
  background-color: blueviolet;
}

.active {
  background-color: mediumpurple;
}
