<header>

  <nav>

    <div>
      <img src="assets/imgs/logo-1.png" alt="Logo">
    </div>

    <ul>
      <li><a routerLinkActive="active" [routerLink]="['/accueil']">Accueil</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/portfolio/creations']">Portfolio</a></li>
      <li><a routerLinkActive="active" [routerLink]="">CV</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/snippets']">Snippets</a></li>
      <li><a routerLinkActive="active" [routerLink]="">Contact</a></li>
      <li><a routerLinkActive="active" [routerLink]=""><i class="medium material-icons">search</i></a>
    </ul>

  </nav>

</header>
