.filter-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 16px 0;
  width: 220px;
  background-color: var(--anthracite);
  border-top-left-radius: 5px;
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  color: white;
}

.filter-header {
  padding-bottom: 16px;
}

h2 {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.filter-body, .filter-section, .section-body, .menu {
  width: 100%;
}

.filter-body {
  padding: 12px 5px 0;
  border-top: 1px solid darkgray;
}

.filter-section {
  padding-left: 6px;
  padding-right: 7px;}

.label-number {
  color: darkgray;
}
.section-header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.section-header span {
  padding-bottom: 3px;
  position: relative;
  font-weight: 600;
  color: darkgray;
  text-transform: uppercase;
}

.add {
  left: 4px;
}

.menu, #section-body {
  position: relative;
}

.menu li, #section-body li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.menu li:not(:last-child), #section-body li:not(:last-child) {
  margin-bottom: 8px;
}

.label-text {
  padding-left: 5px;
  flex: 1;
}

.show-all:before {
  padding-top: 4px;
  content: 'format_list_bulleted';
  font-family: 'Material Icons';
}

.favoris:before {
  padding-top: 4px;
  content: 'star';
  font-family: 'Material Icons';
}

.unlabelled:before {
  padding-top: 4px;
  content: 'label';
  font-family: 'Material Icons';
}

.label:before {
  padding-top: 4px;
  content: 'fiber_manual_record';
  font-family: 'Material Icons';
}
