<section>

  <div class="creation-detail" *ngIf="creation; else aucuneCreation">
    <h2>{{ creation.title }}</h2>

    <div class="section-body">
      <div>
        <img src="{{ PICTURE_URL + creation.picture }}" alt="{{ creation.picture }}">
      </div>

      <div class="creation-texts">
        <p>{{ creation.description }}</p>

        <br>
        <div>
          <p class="creation-cats">
            <span class="italic-bold">Type(s)&nbsp;:&nbsp;</span>
            <span>{{ creation.categorie }}</span>
          </p>

          <br>
          <p><span class="italic-bold">Année :&nbsp;</span>{{ creation.year }}</p>
          <br>

          <p class="creation-languages">
            <span class="italic-bold">Avec&nbsp;:&nbsp;</span>
            <span>{{ creation.language }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #aucuneCreation>
    <p>Aucune création à afficher</p>
  </ng-template>

  <app-special-gradient-button class="special-btn" [callback]="goToPortfolio" [background]="buttonBackground" [text]="buttonText"></app-special-gradient-button>
</section>
