.creation-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-body {
  display: flex;
  padding: 30px 0;
}

img {
  max-width: 500px;
}

.creation-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  max-width: 400px;
}

.italic-bold {
  font-style: italic;
  font-weight: bold;
}

.creation-cats .creation-languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-btn {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
