.special-button {
  box-sizing: border-box;
  padding: 7px 1px 8px 3px;
  position: relative;
  background: -moz-linear-gradient(to bottom, var(--gray-dark), lightgray);
  border: 1px outset gray;
  border-radius: 25px;
  border-bottom: none;
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
}

.special-btn {
  box-sizing: border-box;
  padding: 7px 14px 6px;
  position: relative;
  top: -1px;
  left: -2px;
  box-shadow: 2px 2px 2px black;
  background: -moz-linear-gradient(-45deg, greenyellow, forestgreen, black); /* ACCUEIL */
  /* background: linear-gradient(0.44turn, red, darkred, black); CONTACT */
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
}

.special-btn:hover {
  background: -moz-linear-gradient(-75deg, greenyellow, forestgreen, black);
}

.special-btn:active {
  top: 0px;
  left: -1px;
  box-shadow: 1px 1px 1px black;
}

li:last-child a {
  font-weight: bold;
  color: white;
}
