.special-btn-wrapper {
  box-sizing: border-box;
  padding: 7px 1px 8px 3px;
  position: relative;
  background: linear-gradient(to bottom, var(--gray-dark), lightgray);
  border: 1px outset gray;
  border-radius: 25px;
  border-bottom: none;
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
}

/*
linear-gradient(0.44turn, pink, deeppink, black)
linear-gradient(0.44turn, violet, darkviolet, black) // Clair
linear-gradient(0.44turn, magenta, darkmagenta, black) // Moyen
linear-gradient(0.44turn, mediumpurple, purple, black) // Foncé
linear-gradient(0.44turn, red, darkred, black)
linear-gradient(0.44turn, greenyellow, forestgreen, black)
linear-gradient(0.44turn, green, darkgreen, black)
linear-gradient(0.44turn, cyan, darkcyan, black)
linear-gradient(0.44turn, #007BFF, #4169E1, black) // Primary
linear-gradient(0.44turn, yellow, darkkhaki, black)
linear-gradient(0.44turn, orange, darkorange, black)
linear-gradient(0.44turn, lightgray, gray, black)
 */

.special-btn {
  box-sizing: border-box;
  padding: 7px 14px 7px;
  position: relative;
  top: -1px;
  left: -2px;
  box-shadow: 2px 2px 2px black;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.special-btn:hover {
  /*transform: rotate(30deg) !important;*/
  /*background: linear-gradient(0.48turn, greenyellow, forestgreen, black) !important;*/
}

.special-btn:active {
  top: 0;
  left: -1px;
  box-shadow: 1px 1px 1px black;
}

li:last-child a {
  font-weight: bold;
  color: white;
}
