<section>
  <div *ngIf="creation; else aucuneCreation">
    <h2>{{ creation.title }}</h2>

    <div class="creation">
      
      <div>
        <img src="{{ PICTURE_URL + creation.picture }}" alt="{{ creation.picture }}">
      </div>

      <div class="textes">
        <p>{{ creation.description }}</p>

        <br>
        <div>
          <p class="cats">
            <span class="italic_bold">Type(s)&nbsp;:&nbsp;</span>
            <span>{{ creation.categorie }}</span>
          </p>

          <br>
          <p><span class="italic_bold">Année :&nbsp;</span>{{ creation.year }}</p>
          <br>

          <p class="languages">
            <span class="italic_bold">Avec&nbsp;:&nbsp;</span>
            <span>{{ creation.language }}</span>
          </p>
        </div>
      </div>

    </div>

  </div>
  
  <ng-template #aucuneCreation>
    <p>Aucune création à afficher</p>
  </ng-template>

  <app-special-gradient-button (buttonClicked)="goToPortfolio($event)" [buttonName]="buttonText"></app-special-gradient-button>
</section>
<!-- [buttonRouterLink]="buttonLink" -->
