.section-snippet-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 9px 5px 4px;
  border-bottom: 1px solid gainsboro;
  width: 100%;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  width: 100%;
}

.star {
  padding-top: 5px;
  color: darkgray;

  a {
    color: gray;
    cursor: pointer;

    i {
      font-size: 1.3em;
    }
  }
}

h2 {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  text-align: left;
}

.edit, .delete {
  padding-top: 5px;
  padding-left: 4px;
  color: gray;

  a {
    color: gray;
    cursor: pointer;

    i {
      font-size: 1.2em;
    }
  }
}

.edit {
  padding-right: 4px;
}

.section-creator-and-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px;
  width: 100%;
}

.creator-and-date {
  padding-left: 34px;
  width: 180px;
  font-weight: bold;
  font-size: 0.8em;
  color: gray;
  letter-spacing: -0.1px;
}

.labels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1px;
  padding-right: 1px;
  width: 308px;
  height: 44px;
  overflow-x: scroll;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 8px 12px;
  width: 100%;
}

.code {
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px 9px;
  background-color: gainsboro;
  border-radius: 4px;
  font-size: 1.15em;
}

.comment {
  padding: 12px 5px 0;
  font-size: 0.9em;
  color: dimgray;
}
