.section-snippet-sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  width: 320px;
  height: 54px;
  background-color: whitesmoke;
  border-bottom: 1px solid darkgray;
}

p {
  padding-right: 5px;
  font-weight: 600;
  font-size: 0.9em;
  color: gray;
  text-transform: uppercase;
}

form {
  padding-left: 5px;
}

form select {
  font-weight: 600;
  font-size: 0.9em;
  color: gray;
}
