<div>

  <h2>Filtres</h2>

  <div>
    <app-special-gradient-button [buttonName]="buttonText"></app-special-gradient-button>
  </div>

  <div>
    <ul>
      <li><i class="small material-icons">format_list_bulleted</i><span class="label">Tous les Snippets</span><span>250</span></li>
      <li><i class="small material-icons">star</i><span class="label">Favoris</span><span></span>25</li>
      <li><i class="small material-icons">label</i><span class="label">Sans étiquettes</span><span>10</span></li>
    </ul>
      
    <p>
      <span>Labels</span>
      <span><i class="small material-icons">add_circle_outline</i></span>
    </p>

    <ul id="labels">
      <li><span>.</span><span class="label">PHP</span><span>50</span></li>
      <li><span>.</span><span class="label">JavaScript</span><span>20</span></li>
      <li><span>.</span><span class="label">Git/Github</span><span>5</span></li>
      <li><span>.</span><span class="label">Angular</span><span>8</span></li>
      <li><span>.</span><span class="label">Spring</span><span>2</span></li>
    </ul>
  </div>
</div>