div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px 8px 4px;
  width: 220px;
  background-color: var(--anthracite);
  border-top-left-radius: 5px;
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  color: white;
}

h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 2px;
}

/* div > div:first-child {
  margin-bottom: 12px;
  padding-left: 4px;
  padding-right: 4px;
} */

div > div:last-child {
  margin-top: 12px;
  border-top: 1px solid darkgray;
  /* border-top-right-radius: 5px; */
}

ul, li, p {
  width: 100%;
}

ul {
  margin-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

li:first-child {
  margin-top: 3px;
}

li:not(:first-child) {
  margin-top: 10px;
}

li, p {
  display: flex;
  justify-content: start;
}

p {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  padding-left: 4px;
  font-weight: 600;
  color: darkgray;
  text-transform: uppercase;
}

.label {
  padding-left: 5px;
  flex: 1;
}
